{
	"presets": ["@babel/typescript"],
	"plugins": [
		"macros",
		["@babel/plugin-proposal-decorators", {"legacy": true}],
		"@babel/plugin-proposal-numeric-separator",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
	]
}